table {
    width: 90%;
    border-collapse: collapse; /* 折叠边框 */
    margin: 15px auto; /* 水平居中 */
}
table, th, td {
    border: 1px solid black; /* 添加边框 */
}
th, td {
    padding: 8px; /* 单元格内边距 */
    text-align: center; /* 文字居中 */
}
.table-title {
  background-color: aqua;
  font-size: large;
  font-weight: 900;
}
.node {
  background-color: rgb(166, 255, 0);
}
.split {
  background-color: rgb(75, 78, 70);
}
.change {
  background-color: rgba(228, 3, 3, 0.897);
}
.banner {
  background-color: beige;
  font-family:monospace;
  font-style: italic;
  font-weight:900;
  font-size: 5em;
  text-shadow: 2px 3px 3px rgba(12, 12, 12, 0.932);
}